@font-face
{
  font-family: dosis;
  src: url(Dosis/Dosis-VariableFont_wght.ttf);
}

a
{
  text-decoration: none;
}

/* Used for word wrapping in Story elements */
pre
{
  overflow-x: hidden;
  white-space: pre-wrap;
  word-wrap: normal;
}

/* Header logo */
.logo
{
  background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  width:150px;
  height:150px;
  margin: auto;
  border-radius: 100px;
  border-width: thick;
  border-color: black;
  border-style: solid;
  padding: 10px;
  border: solid;
}


/* Alert banner */
.warning-banner
{
  margin: -2.75% 0% 0% 3%;
}

/* Footer that holds extra information */
.footer
{
  height: 400px;
  background-color: #101010c0;
}

.footer-text1
{
  font-size: 24px;
  font-family: Dosis;
  color: white;
  text-align: center;
  background-color: transparent;
}

.footer-text2
{
  font-size: 12px;
  font-family: Dosis;
  color: lightgrey;
  text-align: center;
  background-color: transparent;
}

.link-item
{
  margin: 0;
  color: white;
  font-weight: bolder;
  background-color: transparent;
  border-radius: 16px;
  padding: 3px 10px 3px 10px;
  transition-delay:0.01s;
  transition-duration:0.2s;
  cursor:pointer;
}

.link-item:hover
{
  color: black;
  background-color: transparent;
}



/* The background to the articles */
.articles-bg
{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../imgs/articlesbg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* The box where the article lies in */
.article-box
{
  max-width: 2500px;
  max-height: 500px;
  min-width: 250px;
  min-height: 100px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: #00000040;
  margin: 100px 200px 100px 200px;
  /* margin: auto; */
  border: black;
  border-radius: 24px;
  padding-top: 60px;
  padding-bottom: 60px;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  transition-delay: 0.2s;
  transition-duration: 0.6s;
  cursor: pointer;
}

.article-box:hover
{
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.6), 0 17px 50px 0 rgba(0,0,0,0.35);
}

/* The (style of) title of the article (stays smaller than the summary) */
.article-title
{
  font-family: Dosis;
  font-size: 60px;
  /* font-size: 4.5vh; */
  color: #a0a0a0;
  padding: 0px 50px 0px 50px;
  border: white;

  text-align: center;
  text-shadow: 2px 2px 8px #000000;
}

/* The (style of) summary of the article (larger than the summary, as the customer may catch an eye faster) */
.article-summary
{
  font-family: Dosis;
  font-size: 65px;
  /* font-size: 5vh; */
  color: lightgrey;
  padding: 0px 50px 0px 50px;

  text-align: center;
  text-shadow: 4px 4px #000000;
}

/* The (style of) brief description that belongs to the item being explained. */
.article-description
{
  font-family: Dosis;
  font-size: 30px;
  color: #3388BB;
  padding: 0px 70px 0px 50px;

  text-align: center;
  text-color: #008080;
}



.story-bg-one-col
{
  background-color: #bbbbbbbb;
  margin-left: 180px;
  margin-right: 180px;
  margin-top: 50px;
  margin-bottom: 50px;
  padding-top: 20px;
  padding-bottom: 100px;
  border-radius: 20px;
}

.story-bg-two-col
{
  background-color: #bbbbbbbb;
  margin-left: 90px;
  margin-right: 90px;
  margin-top: 50px;
  margin-bottom: 50px;
  padding-top: 20px;
  padding-bottom: 100px;
  border-radius: 20px;
}

.story-bg-img
{
  margin-left: 90px;
  margin-right: 90px;
  margin-top: 50px;
  margin-bottom: 50px;
  padding-top: 20px;
  padding-bottom: 100px;
  border-radius: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.story-title
{
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 50px;
  margin-bottom: 50px;
  font-family: Dosis;
  font-size: 80px;
  text-align: center;
  color: black;
}

.story-text
{
  font-family: Dosis;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 50px;
  color: black;
  font-size: 30px;
}

.story-bg-clickable
{
  color: transparent;
  background-color: #bbbbbbbb;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 100px;
  margin-bottom: 100px;
  padding-top: 20px;
  padding-bottom: 100px;
  cursor: pointer;
  text-decoration: none;
  border-radius: 20px;
}

.story-bg-clickable:hover
{
  color: #88888888;
  background-color: #88888888;
  transition-delay:0.1s;
  transition-duration:0.5s;
}

/* Navigation bar */
.bg-semi-transparent
{
  background-color: #20202080;
}

.navbar-item
{
  margin: 0;
  color: darkgrey;
  background-color: transparent;
  border-radius: 16px;
  padding: 3px 10px 3px 10px;
  transition-delay:0.1s;
  transition-duration:0.5s;
}

.navbar-item:hover
{
  color: white;
  background-color: transparent;
}


/* Dropdown menus for the Navigation Bar */
.trt-dropdown-menu
{
  margin-top: 0%;
  background-color: #40404080;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  min-width:9rem;
}

.drop-to-right
{
  margin-top: -20%;
  margin-left: 95%;
}

.drop-to-left
{
  margin-top: -20%;
  margin-left: -95%;
}

.drop-to-straightdown
{
  margin-top: 0%;
}

.justify
{
  margin-left: auto;
  margin-right: auto;
}


/* Text colors */
.text-color-white
{
  color: white;
}

.text-color-black
{
  color: black;
}



/* Headers, header1 is for the main title in the header. Header2 is for the slogan underneath the title, and Header3 is for the main topic of the page.*/
.trt-text-header1
{
  font-size: 110px;
  font-family: Dosis;
  position: absolute;
  color: white;
  padding: 0px 0px 0px 30px;
  line-height: 90px;
}

.trt-text-header2
{
  font-size: 25px;
  font-family: Dosis;
  position: absolute;
  color: white;
  margin: 200px 0px 0px 120px;
  line-height: 20px;
}

.trt-text-header3
{
  font-size: 25px;
  font-family: Dosis;
  color: white;
  text-align: center;
}


/* Used for the header block at the top */
.trt-header-main
{
  margin: 0;
  background-attachment: fixed;
  background-position: 50% 35%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 350px;
}


/* Used to position the topic properly. */
.trt-header-subject
{
  margin-left: 25%;
}




/* Turns the size of the page (scaled to device) into two columns to work with. */
.half-column
{
  padding: 20px;
  float: left;
  width: 50%;
  height: 350px;
  background-color: transparent;
}

/* Turns the size of the page (scaled to device) into three columns to work with. */
.third-column
{
  padding: 20px;
  float: left;
  width: 33%;
  height: 350px;
  background-color: transparent;
}

/* Turns the size of the page (scaled to device) into four columns to work with. */
.quarter-column
{
  padding: 20px;
  float: left;
  width: 25%;
  height: 350px;
  background-color: transparent;
}
